html, body {
  height: 100%;
}

p strike {
  color: red;
}

.navbar {
  border-radius: 0%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 450px;
    height: 300px;
    margin: auto;
}

.product-section div {
  padding-bottom: 25px;
  padding-top: 25px;
}

footer {
  position: static;
  background-color: #2c3e50;
  padding: 20px 0px;
}

footer, h4 {
  font-size: 18px;
  color: white;
  text-align: left;
}

footer, li {
list-style: none;
}

.sales-li {
  float: left;
  padding: 10px;
}

.sales-li p {
  float: right;
  padding: 10px;
}

.legal-data {
  padding-top: 20px;
}

button {
  position: relative;
  display: none;
}
